html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #18191B;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

div#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

div#main div#content {
  background-color: #333B47;
  font-size: 10rem;
  padding: 0.8em;
}

div#main div#footer {
  font-size: 3rem;
  font-weight: 300;
  padding: 0.8em;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
